@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');

body{
    margin: 0;
}
.header{
    width: 100%;
    height: 93px;
    background: #37A2C3;
    position: sticky;
    top: 0;
    z-index: 11;
}

.header h2{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 90px;
}

.card{
    background: #CDCDCD;
    padding: 30px;
    margin: 20px;
    position: relative;
    max-height: 300px;
    /* overflow: scroll ;
    overflow: visible;
    overflow: hidden; */
    overflow: auto;
   
}

.card button{
    width: 324px;
    height: 77px;
    background: #FF6161;
    color: white;
    font-size: 32px;
    border: none;
    position: sticky;
    right: 20px;
    bottom: 20px;
}

.chat{
    width: 140px;
    height: 140px;
    background: #7572FF;
    border-radius: 140px;
    color: white;
    font-size: 32px;
    line-height: 140px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 1;
}